@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
  
  --primary-color: #51291E;
  --secondary-color: #EDEEC0;
  --accent1-color: #1C448E;
  --accent2-color: #EDEEC0;

  
  --heading-font: "Mulish", sans-serif;
  --paragraph-font: "Quicksand", "Helvetica", sans-serif;


}

body {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    width: 100%;
}

/* header */
ul {
  list-style-type: none;
  background-color: #51291E;
  text-align: right;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}
.instructions {
  background-color: transparent;
}
ul a {
  color: var(--accent2-color);
  text-decoration: none;
  font-family: var(--heading-font);
}
a:hover {
  text-decoration: underline;
  background-color: white;
  color: var(--primary-color);
}

li {
  display: inline-block;
  padding: 5px;
}
.theme-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 20px;
  padding-right: 10px;
}
#theme-selector {
  display: flex;
  background-color: #51291E;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: var(--heading-font);
}

/* main */
button {
  background-color: #51291E;
  color: var(--accent2-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
}
.title {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}
.title h1 {
  padding-top: 60px;
  font-size: 3em;
  font-weight: 900;
}
.title p {
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}
.home-img {
  width: 100%;
  display: flex;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 25%;
  padding-left: 25%;
  position: relative;
}
.home-img img {
  width: 100%;
  border: var(--primary-color) 10px solid;
  display: block;
  box-sizing: border-box;
}
.left, .right {
  position: absolute;
  bottom: 45%;
}
.left {
  left: 10%;
  width: 10%;
  height: 15%;
}
.right {
  right: 10%;
  width: 10%;
  height: 15%;
}
.home-info, .home-info2 {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: var(--heading-font);
}
/* for the second html */
.home-info2 {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  font-family: var(--heading-font);
}
.home-info h2, .home-info2 h2 {
  font-size: 2em;
  font-weight: 900;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: .2em;
 
}
.home-info2 h2 {
  margin: auto;
  padding-bottom: 20px;
}
.home-info p {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--primary-color);
}
.home-info2 p{
  text-align: left;
  width: 50%;
  margin: auto;
  color: var(--primary-color);
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  

}
.social {
  display: flex;
  gap: 20px;
  padding: 10px 15px 5px 15px;
  background-color: #EDEEC0;
  border-radius: 10px;
}
footer p {
  margin: 0;
  color: var(--primary-color);
}
.social img {
  width: 25px;
  padding: 0;
}


@media screen and (min-width: 725px) {
  ul {
    padding: 20px;
  }
  ul a {
    font-size: 1.2em;
  }

  .title h1 {
    padding-top: 2vh;
    font-size: 4em;
    font-weight: 900;
    margin: 0;
  }
  .title p {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 20px;
    margin: 0;
    padding-bottom: 20px;
  }
  .left {
    left: 5%;
  }
  .right {
    right: 5%;
  }
  .home-info2 h2 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1200px) {
  .title h1 {
    padding-top: 5vh;
    font-size: 5em;
  }
  .home-info {
    padding-top: 100px;
  }
  .home-info2 {
    padding-top: 30px;
  }
  .home-info2 h2 {
    font-size: 4em;
  }
  .home-info2 p {
    font-size: 2em;
  }
  footer {
    padding-top: 100px;
  }
}