@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #48A9A6;
    --secondary-color: #F2D492;
    --custom-color: #E3D7FF;
    --primary-font: 'Helvetica','Alumni Sans Pinstripe';
    --secondary-font:  'Funnel Sans', sans-serif;
}
header > h1 {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2em;
    font-weight: 1000;
    color: var(--primary-color);
    text-align: center;
    padding-top: 0;
    margin: 0 auto;
}
nav {
    padding: 10px 0;
}
.main-nav {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    list-style-type: none;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
    justify-items: end;
    justify-content: end;
    padding: 0;
    padding-right: 180px;
}
.main-nav li {
    padding: 10px
}
.main-nav a {
    text-decoration: none;
    font-size: 1em;
}
ul > li {
   
    padding: 10px;
    margin: 0 auto; 
    max-width: 200px;
}
#js-article-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
.review {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:20px;
}

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    padding-right: 15px;
}

article {
    padding-left: 15px;
    grid-column: 2/3;
    padding-right: 100px;
    border-left: 1px solid gold;
    justify-items: center;
    width: 100%;
}

article h2 {
    text-align: left;
    font-size: 1.5em;
    color: maroon;
    width: 100%;
}
article img {
    width: 100%;
}

#container{
    grid-column: 3/4;
    justify-content: center;
    border: 1px solid gold;
    max-width: 250px;
    padding: 15px;
    box-sizing: border-box;
}

#filters label {
    margin-top: 5px;
    font-weight: bold;
}
.sort {
    width: 100px;
    padding:5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    align-self: center;
}
.skiptocontent a {
    position: absolute;
    top: -40px;
}
.skiptocontent a:focus {
    background: none;
    top:0;
}
